.hide{
    display:none
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: bisque;
    color: black;
  }
  
  
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .start-screen, .question-box {
    text-align: center;
    width: 100%;
    margin-top: -250px; 
 
    
  }

  .choices button {
    border: none;
    border-radius: 12px;
    padding: 10px 10px;
    background-color: gray;
    font-size: 24px;
  }
  
 
  #Timer {
    text-align: center;
  }
  
  #button {
    color: black;
    border-radius: 12px;
    border: none;
    background-color: gray;
    font-size: 24px;
    padding: 10px 10px;
  }
